<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configsections>
     for more information on entity framework configuration, visit http://go.microsoft.com/fwlink/?linkid=237468 
    <section name="entityframework" type="system.data.entity.internal.configfile.entityframeworksection, entityframework, version=6.0.0.0, culture=neutral, publickeytoken=b77a5c561934e089" requirepermission="false" />
  </configsections>
  <system.servicemodel>
    <behaviors>
      <servicebehaviors>
        <behavior name="">
          <servicemetadata httpgetenabled="true" httpsgetenabled="true" />
          <servicedebug includeexceptiondetailinfaults="false" />
        </behavior>
      </servicebehaviors>
    </behaviors>
    <services>
      <service name="carrentals.services.implementation.ibookingservice">
        <endpoint address="" binding="basichttpbinding" contract="carrentals.services.implementation.iibookingservice">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexhttpbinding" contract="imetadataexchange" />
        <host>
          <baseaddresses>
            <add baseaddress="http://localhost:8733/design_time_addresses/carrentals.services.implementation/ibookingservice/" />
          </baseaddresses>
        </host>
      </service>
      <service name="carrentals.services.interface.ibookingservice">
        <endpoint address="" binding="basichttpbinding" contract="carrentals.services.interface.iibookingservice">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexhttpbinding" contract="imetadataexchange" />
        <host>
          <baseaddresses>
            <add baseaddress="http://localhost:8733/design_time_addresses/carrentals.services.interface/ibookingservice/" />
          </baseaddresses>
        </host>
      </service>
      <service name="carrentals.services.interface.bookingservice">
        <endpoint address="" binding="basichttpbinding" contract="carrentals.services.interface.ibookingservice">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexhttpbinding" contract="imetadataexchange" />
        <host>
          <baseaddresses>
            <add baseaddress="http://localhost:8733/design_time_addresses/carrentals.services.interface/bookingservice/" />
          </baseaddresses>
        </host>
      </service>
      <service name="carrentals.services.interface.carservice">
        <endpoint address="" binding="basichttpbinding" contract="carrentals.services.interface.icarservice">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexhttpbinding" contract="imetadataexchange" />
        <host>
          <baseaddresses>
            <add baseaddress="http://localhost:8733/design_time_addresses/carrentals.services.interface/carservice/" />
          </baseaddresses>
        </host>
      </service>
      <service name="carrentals.services.carservice">
        <endpoint address="" binding="basichttpbinding" contract="carrentals.services.icarservice">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexhttpbinding" contract="imetadataexchange" />
        <host>
          <baseaddresses>
            <add baseaddress="http://localhost:8733/design_time_addresses/carrentals.services/carservice/" />
          </baseaddresses>
        </host>
      </service>
      <service name="carrentals.services.bookingservice">
        <endpoint address="" binding="basichttpbinding" contract="carrentals.services.ibookingservice">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexhttpbinding" contract="imetadataexchange" />
        <host>
          <baseaddresses>
            <add baseaddress="http://localhost:8733/design_time_addresses/carrentals.services/bookingservice/" />
          </baseaddresses>
        </host>
      </service>
      <service name="carrentals.services.customerservice">
        <endpoint address="" binding="basichttpbinding" contract="carrentals.services.icustomerservice">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexhttpbinding" contract="imetadataexchange" />
        <host>
          <baseaddresses>
            <add baseaddress="http://localhost:8733/design_time_addresses/carrentals.services/customerservice/" />
          </baseaddresses>
        </host>
      </service>
      <service name="carrentals.services.implementation.carrentalsservice">
        <endpoint address="" binding="basichttpbinding" contract="carrentals.services.implementation.icarrentalsservice">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexhttpbinding" contract="imetadataexchange" />
        <host>
          <baseaddresses>
            <add baseaddress="http://localhost:8733/design_time_addresses/carrentals.services.implementation/carrentalsservice/" />
          </baseaddresses>
        </host>
      </service>
    </services>
  </system.servicemodel>
  <entityframework>
    <defaultconnectionfactory type="system.data.entity.infrastructure.sqlconnectionfactory, entityframework" />
    <providers>
      <provider invariantname="system.data.sqlclient" type="system.data.entity.sqlserver.sqlproviderservices, entityframework.sqlserver" />
    </providers>
  </entityframework>
</configuration>-->